.venv/
__pycache__/
*.pyc
.pytest_cache/
.vscode/
*.log

# Datasets
connector_dataset/
Full_ConnectorFrame_Dataset/
Test_FullFrame/
thesis_data/

# Image Logs and Folders
defect_logs/
"defect logs/"
inspection_logs/

# Model Weights and Large Files
*.pth
!best_connector_ai.pth
!full_image_ai.pth
*.jpg
*.png
*.bmp